/* Styles for Portfolio page */
.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0px 1px 29px 5px rgba(0, 0, 0, 0.75);
  background-size: contain;
}
.card-footer {
  background: none;
  border-top: none;
}
.card-title {
  font-weight: 800;
}

.git-link {
  height: 60px;
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}
.git-link:hover {
  transform: scale(1.1);
  box-shadow: 11px 9px 9px 0px rgba(0, 0, 0, 0.75);
}
.cardH {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 11px 9px 9px 0px rgba(0, 0, 0, 0.75);
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}
.img-arr {
  height: 40px;
}

.small-desc {
  font-size: 24px;
  background-color: #e4e7eb;
  border-radius: 10px;
  box-shadow: 11px 9px 9px 0px rgba(0, 0, 0, 0.75);
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}

.h4 {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 11px 9px 9px 0px rgba(0, 0, 0, 0.75);
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}
